* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow-x: hidden;
   
}

.section_1 {
	background-image: url("../images/photo.avif");
	background-size: cover;
	height: 100vh;
}
.nav_bar{
	display: flex;
	/* flex-direction: row; */
    justify-content:center;
    background-color:rgba(255, 255, 255, 0.096);
    height: 6em;
}
.nav_list {
	display: flex;
	justify-content:space-between;
	flex-direction: row;
    color: white;
    gap: 20em;
    align-items: center;
  
}


.tabs {
	display: flex;
    gap: 1.2em;
    margin-right: 5em;
  
}
a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
    font-size: 18px;
    margin-top: 8em;
}
a:hover{
	color:rgb(219, 85, 7);
}
.logo{
  margin-left: 15em;
  /* width: 15em; */
}

.row{
    display: flex;
    border: 1px solid gray;
    color: white;
    border-right: 1px solid gray;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-right: 1px solid rgba(107, 105, 105, 0.288);
      font-size: 15px;
   
      
  }

.left{
    border-right: 2px solid rgba(107, 105, 105, 0.288);
    text-align: right;
    padding-right: 1em;
  
 
}
.center{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid rgba(107, 105, 105, 0.363);
    padding-right: 1em;

}
.right{
    display: flex;
    flex-direction: row;
    gap: 2em;
    /* padding-right: 1em; */
    /* justify-content: center; */
}

.link{
    font-size: 15px;  
}
.btn-d{
    background-color: rgb(192, 83, 10);
    width: 7em;
    height: 2.3em;
    border-radius: 5px;
    margin-left: 1em;
}
.nav-left{
    display: flex;
    flex-direction: row;
    /* margin-right: 10em; */
}