* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow-x: hidden;
   
}

.section_1 {
	background-image: url("../images/photo.avif");
	background-size: cover;
	height: 100vh;
}
.nav_bar{
	display: flex;
	flex-direction: row;
    justify-content:center;
    background-color:rgba(255, 255, 255, 0.096);
    height: 6em;
}
.nav_list {
	display: flex;
	flex-direction: row;
    color: white;
    justify-content:space-between;
    gap: 12em;
    align-items: center;
  text-align: center;
}

.nav-sec{
    display: flex;
	flex-direction: row;
    align-items: center;
    gap: 1em;
}

.tabs {
	display: flex;
    float: left;
    text-align: left;
    gap: 1.2em;
    margin-left: 25em;
  
}
a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
    font-size: 18px;
    margin-top: 8em;
}
a:hover{
	color:rgb(219, 85, 7);
}


.row{
    display: flex;
    border: 1px solid gray;
    color: white;
    border-right: 1px solid gray;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-right: 1px solid rgba(107, 105, 105, 0.288);
      font-size: 15px;    
  }

.left{
    border-right: 2px solid rgba(107, 105, 105, 0.288);
    text-align: right;
    padding-right: 1em;
}
.center{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid rgba(107, 105, 105, 0.363);
    padding-right: 1em;

}
.right{
    display: flex;
    flex-direction: row;
    gap: 2em;
    /* font-size: 15px; */
}

.signup{
    font-size: 15px;
}
.link{
    font-size: 20px;  
}
.btn-d{
    background-color: rgb(192, 83, 10);
    width: 10em;
    height: 3em;
    border-radius: 5px;
    margin-left: 1em;
}
.nav-left{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.container_1{
    color: white;
    margin-top: 20em;
    display: flex;
    flex-direction: column;
    align-items:start;
    margin-left: 25em;
}

.text-large{
    font-size: 45px;
    width: 8em;
    font-family: sans-serif;
}
.text-small{
    margin-bottom: 6px;
}
.text-btn{
    margin-top: 10px;
    /* margin-right: 25px; */
}
.btn-text{
    background-color: rgb(192, 83, 10);
    width: 10em;
    height: 3em;
    border-radius: 5px;
    /* margin-left: 1em; */
}